body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-group{
  display: inline-grid;
}
.button-group input{
  width: 50%;
  margin: 1px;
}
.contact-radio div input{
margin-right: 10px;
}

.selectCourse{
  display: inline;
}
.selectCourse > *{
  margin: 10px;
}

.divForElements{
  display: flex;
}